################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/SoundView/Debug
/.vs/SoundView/v15
/SoundView/SoundView.vcxproj.user
